<!DOCTYPE html>
<html>
   <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
  </head>
  <body>
    <div style="text-align:center">

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand mx-auto" href="">
    
            Contact Database
            </a>
        </nav>
        <br><br>
    
        <button class="btn btn-primary" onclick="window.location.href='http://127.0.0.1:8000/create';">
            Create Contact
          </button>

          <br><br>

          <button class="btn btn-primary" onclick="window.location.href='http://127.0.0.1:8000/display/';">
            Display All Contacts
          </button>

          <br><br>


          <button class="btn btn-primary" onclick="window.location.href='http://127.0.0.1:8000/display/name';">
            Search By Name
          </button>

          <br><br>


          <button class="btn btn-primary" onclick="window.location.href='http://127.0.0.1:8000/display/tel';">
            Search By Telephone
          </button>


          <br><br>

          

          <button class="btn btn-primary" onclick="window.location.href='http://127.0.0.1:8000/display/prof';">
            Search By Profession
          </button>

          <br><br>
          
          <button class="btn btn-primary" onclick="window.location.href='http://127.0.0.1:8000/display/compare';">
            Compare Contacts
          </button>


          <br><br>

        </div>
          






          